.swatches .color-0 {
  background-color: red;
}
.swatches .color-1 {
  background-color: #ff0303;
}
.swatches .color-2 {
  background-color: #800505;
}
.swatches .color-3 {
  background-color: #550808;
}
.swatches .color-4 {
  background-color: #400a0a;
}
.swatches .color-5 {
  background-color: #330d0d;
}
.swatches .color-6 {
  background-color: #2b0f0f;
}
.swatches .color-7 {
  background-color: #241212;
}
.swatches .color-8 {
  background-color: #201414;
}
.swatches .color-9 {
  background-color: #1c1717;
}
.swatches .color-10 {
  background-color: #1a1919;
}
.swatches .color-11 {
  background-color: #171c1c;
}
.swatches .color-12 {
  background-color: #151e1e;
}
.swatches .color-13 {
  background-color: #142121;
}
.swatches .color-14 {
  background-color: #122323;
}
.swatches .color-15 {
  background-color: #112626;
}
.swatches .color-16 {
  background-color: #102828;
}
.swatches .color-17 {
  background-color: #0f2b2b;
}
.swatches .color-18 {
  background-color: #0e2d2d;
}
.swatches .color-19 {
  background-color: #0d3030;
}
.swatches .color-20 {
  background-color: #0d3232;
}
.swatches .color-21 {
  background-color: #0c3535;
}
.swatches .color-22 {
  background-color: #0c3737;
}
.swatches .color-23 {
  background-color: #0b3a3a;
}
.swatches .color-24 {
  background-color: #0b3c3c;
}
.swatches .color-25 {
  background-color: #0a3f3f;
}
.swatches .color-26 {
  background-color: #0a4141;
}
.swatches .color-27 {
  background-color: #094444;
}
.swatches .color-28 {
  background-color: #094646;
}
.swatches .color-29 {
  background-color: #094949;
}
.swatches .color-30 {
  background-color: #094b4b;
}
.swatches .color-31 {
  background-color: #084e4e;
}
.swatches .color-32 {
  background-color: #085050;
}
.swatches .color-33 {
  background-color: #085353;
}
.swatches .color-34 {
  background-color: #085555;
}
.swatches .color-35 {
  background-color: #075858;
}
.swatches .color-36 {
  background-color: #075a5a;
}
.swatches .color-37 {
  background-color: #075d5d;
}
.swatches .color-38 {
  background-color: #075f5f;
}
.swatches .color-39 {
  background-color: #076262;
}
.swatches .color-40 {
  background-color: #066464;
}
.swatches .color-41 {
  background-color: #066767;
}
.swatches .color-42 {
  background-color: #066969;
}
.swatches .color-43 {
  background-color: #066c6c;
}
.swatches .color-44 {
  background-color: #066e6e;
}
.swatches .color-45 {
  background-color: #067171;
}
.swatches .color-46 {
  background-color: #067373;
}
.swatches .color-47 {
  background-color: #057676;
}
.swatches .color-48 {
  background-color: #057878;
}
.swatches .color-49 {
  background-color: #057b7b;
}
.swatches .color-50 {
  background-color: #057d7d;
}
.swatches .color-51 {
  background-color: #058080;
}
.swatches .color-52 {
  background-color: #058282;
}
.swatches .color-53 {
  background-color: #058585;
}
.swatches .color-54 {
  background-color: #058787;
}
.swatches .color-55 {
  background-color: #058a8a;
}
.swatches .color-56 {
  background-color: #058c8c;
}
.swatches .color-57 {
  background-color: #048f8f;
}
.swatches .color-58 {
  background-color: #049191;
}
.swatches .color-59 {
  background-color: #049494;
}
.swatches .color-60 {
  background-color: #049696;
}
.swatches .color-61 {
  background-color: #049999;
}
.swatches .color-62 {
  background-color: #049b9b;
}
.swatches .color-63 {
  background-color: #049e9e;
}
.swatches .color-64 {
  background-color: #04a0a0;
}
.swatches .color-65 {
  background-color: #04a3a3;
}
.swatches .color-66 {
  background-color: #04a5a5;
}
.swatches .color-67 {
  background-color: #04a8a8;
}
.swatches .color-68 {
  background-color: #04aaaa;
}
.swatches .color-69 {
  background-color: #04adad;
}
.swatches .color-70 {
  background-color: #04afaf;
}
.swatches .color-71 {
  background-color: #04b2b2;
}
.swatches .color-72 {
  background-color: #04b4b4;
}
.swatches .color-73 {
  background-color: #03b7b7;
}
.swatches .color-74 {
  background-color: #03b9b9;
}
.swatches .color-75 {
  background-color: #03bcbc;
}
.swatches .color-76 {
  background-color: #03bebe;
}
.swatches .color-77 {
  background-color: #03c1c1;
}
.swatches .color-78 {
  background-color: #03c3c3;
}
.swatches .color-79 {
  background-color: #03c6c6;
}
.swatches .color-80 {
  background-color: #03c8c8;
}
.swatches .color-81 {
  background-color: #03cbcb;
}
.swatches .color-82 {
  background-color: #03cdcd;
}
.swatches .color-83 {
  background-color: #03d0d0;
}
.swatches .color-84 {
  background-color: #03d2d2;
}
.swatches .color-85 {
  background-color: #03d5d5;
}
.swatches .color-86 {
  background-color: #03d7d7;
}
.swatches .color-87 {
  background-color: #03dada;
}
.swatches .color-88 {
  background-color: #03dcdc;
}
.swatches .color-89 {
  background-color: #03dfdf;
}
.swatches .color-90 {
  background-color: #03e1e1;
}
.swatches .color-91 {
  background-color: #03e4e4;
}
.swatches .color-92 {
  background-color: #03e6e6;
}
.swatches .color-93 {
  background-color: #03e9e9;
}
.swatches .color-94 {
  background-color: #03ebeb;
}
.swatches .color-95 {
  background-color: #03eeee;
}
.swatches .color-96 {
  background-color: #03f0f0;
}
.swatches .color-97 {
  background-color: #03f3f3;
}
.swatches .color-98 {
  background-color: #03f5f5;
}
.swatches .color-99 {
  background-color: #03f8f8;
}

/*# sourceMappingURL=style.css.map */
